

* {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    font-family: "Avenir", "Helvetica", sans-serif;
    background-image: url(images/background.png);

}

.logopic {
    width: 160px;
}




.cow {
    text-align: center;
}


.section1 {
 width: 100%;
}

h1 {
    text-align: center;
    background-color: white;
    padding-bottom: 20px;
    padding-top: 20px;
    letter-spacing: 3px;

}

h2 {
    text-align: center;
}

#soy {
    max-width: 200px;
}

#water {
    max-width: 70px;
}

#vitamin {
    max-width: 130px;
}

#needle {
    max-width: 140px;
}
#calf {
    max-width: 200px;
    max-height: 100px;
}

.section2 h1, .section3 h1 {
 text-align: center;
 background: none;
 letter-spacing: 0px;
}

.wrap {
    background-color: rgba(255, 255, 255, 0.9);
}


.info {
    margin: auto;
    align-content: center;
    text-align: center;
  margin-left: auto;
  margin-right: auto;
    padding: 10px;
}


.cow {
    padding: 50px
}


.cow img {
    max-width: 80%;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
}



.navbar {
    width: 100%;
    background-color: #fff;
}

.navContainer {
    max-width: 30000px;
    margin: 0 auto;
    height: 60px;
    display: flex;
    flex-wrap: wrap;
}

.navContainer li a {
    text-decoration: none;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 3px;
}


.logo {
    overflow: hidden;
    text-align: left;
}

.logo img {
    max-height: 3.8rem;
    padding-left: 20px;
    padding-top: 5px;
    padding-bottom: 5px
}

.menus ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    flex-wrap: wrap;
    text-align: center;
}

a{
    color: black;
}

.menus ul li a {
    display: block;
    padding: 0 10px;
    height: 60px;
    text-align: center;
    line-height: 60px;
    text-decoration: none;
    outline: none;
}

.menus ul li a:hover {
    background-color: white;
    color: grey;
}


.iconBar {
    display: none;
    background-color: white;
    color: black;
}

.menuBar {
    width: 45px;
    align-self: center;
    cursor: pointer;
    color: black;
}

.icon-bar {
    height: 4px;
    width: 80%;
    background: black;
    margin: 5px 0;
    display: block;
    border-radius: 2px;
}


@media (max-width: 600px) {
    .logo {
        height: 60px;
       align-content: center;

    }

    .menus {
        flex: 100%;
        background: white;
        height: 0;
        overflow: hidden;
        z-index: 5;

    }

    .menus ul {
        flex-direction: column;
    }

    .menus ul li a {
        text-transform: uppercase;
        font-size: 20px;
        font-weight: 700;
        letter-spacing: 3px;

    }

    .menus ul li a:hover {
        background-color: black;
        color: #FFF;
    }

    .navContainer {
        justify-content: space-between;
    }

    .iconBar {
        display: flex;
        margin-right: 10px;

    }

    .menus-show {
        height: auto;
    }
}


@media (min-width: 601px){
    .wrap{
        margin: 0px 6vh
    }

    .cow img {
    max-height: 300px;
}

       .wrap {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
        "one-area  one-area"
        "two-area  three-area";
}
    .section1 {
        grid-area: one-area
    }

     .section2 {
        grid-area: two-area
    }

     .section3 {
        grid-area: three-area
    }


.section3 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
        "main-area  main-area"
        "first-area  second-area"
        "third-area  fourth-area"
        "fifth-area  sixth-area";
}
 .cow {
        grid-area: main-area;
    }

.div1 {
    grid-area: first-area
}

.div2 {
    grid-area: second-area
}

.div3 {
    grid-area: fourth-area
}

.div4 {
    grid-area: third-area
}
.div5 {
    grid-area: fifth-area
}
.div6 {
    grid-area: sixth-area
}

   .section2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
        "main-area  main-area"
        "first-area  second-area"
        "third-area  fourth-area"
        "fifth-area  sixth-area";
}
 .cow {
    grid-area: main-area;
    }

.div7 {
    grid-area: first-area
}

.div8 {
    grid-area: second-area
}

.div9 {
    grid-area: fourth-area
}

.div10 {
    grid-area: third-area
}
.div11 {
    grid-area: fifth-area
}
.div12 {
    grid-area: sixth-area
}


.navbar {
  overflow: hidden;
    background-color: white;
    z-index: 1;
    padding: 1rem;
}
.menus li a {
  float: right;
}

.nav {
 overflow: hidden;
}
.navContainer li a {
    float: right;
    display: block;
}

}

@media (min-width: 768px){
    .wrap {
        margin: 0px 12vh;
    }
}


@media (min-width: 1440px){

    .wrap {
        margin: 0px 18vh;
    }
}


a.current {
    color: grey;
}
