* {
    margin: 0;
    padding: 0;
    font-family: "Avenir", Helvetica, sans-serif;
}

body {
    margin: 0;
    background-image: url(images/background.png);
}

#grid {
    padding: 25px 0px;
}

.hide {
    display: none;
}

.logopic {
    width: 160px;
}

footer {
    padding: 16px;
    background-color: white;
}

.mini-logo {
    max-height: 22px;
    width: auto;
    padding-right: 2px;
    padding-left: 1px;
}

#anima {
    max-height: 20px;
    width: auto;
    padding: 0px;
}

h1 {
    text-align: center;
    background-color: white;
    padding-bottom: 20px;
    padding-top: 20px;
    text-transform: uppercase;
    letter-spacing: 3px;

}

.bg {
    background-color: rgba(255, 255, 255, 0.9);
    height: 100%;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
}



.navbar {
    width: 100%;
    background-color: #fff;
    padding: 1rem;

}

.navContainer {
    max-width: 30000px;
    margin: 0 auto;
    height: 60px;
    display: flex;
    flex-wrap: wrap;
}

.logo {
    overflow: hidden;
    text-align: left;
}

.logo img {
    max-height: 3.8rem;
    padding-left: 20px;
    padding-top: 5px;
    padding-bottom: 5px
}

.menus ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    flex-wrap: wrap;
}

.menus ul li a {
    display: block;
    padding: 0 10px;
    height: 60px;
    text-align: center;
    line-height: 60px;
    text-decoration: none;
    color: #000;
    outline: none;
}

.menus ul li a:hover {
    background-color: white;
    color: grey;
}

.iconBar {
    display: none;
    background-color: white;
    color: black;
}

.menuBar {
    width: 45px;
    align-self: center;
    cursor: pointer;
    color: black;
}

.icon-bar {
    height: 4px;
    width: 80%;
    background: black;
    margin: 5px 0;
    display: block;
    border-radius: 2px;
}

.milk_box {
    text-align: center;
}

img.milk {
    width: 100%;
}

button.modalOpen {
    text-align: center;
}

.modalOpen {
    color: #494949;
    text-transform: uppercase;
    background: #ffffff;
    padding: 20px;
    border: 2px solid #494949;
    border-radius: 6px;
    display: inline-block;
    cursor: pointer;
    font-weight: 700;
}

.modalOpen:hover {
    color: #ffffff;

    transition: all 0.4s ease 0s;
}

.modalOpen#almond:hover {
    background: #EFDECD;
    border-color: #EFDECD;
}

.modalOpen#soy:hover {
    background: #d2efd2;
    border-color: #d2efd2;
}

.modalOpen#rice:hover {
    background: #f6f2c5;
    border-color: #f6f2c5;
}

.modalOpen#coconut:hover {
    background: #F0EDE5;
    border-color: #F0EDE5;
}

.modalOpen#oat:hover {
    background: #E0DCC8;
    border-color: #E0DCC8;
}

.modalOpen#hemp:hover {
    background: #e8e1cd;
    border-color: #e8e1cd;
}

/*********               MODAL                 ********/

.bg-modal {
    box-sizing: border-box;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 10;
}

.modal-background {
    background-color: dimgrey;
    border: 1px solid red;
    margin: 1em;
    padding: 2em;
}

article.modal-content {
    height: calc(100% - 100px);
    margin-left: 2em;
    margin-right: 2em;
    margin-top: 3em;
    background-color: whitesmoke;
    padding: 20px;
}

article.modal-content button {
    position: fixed;
    top: 48px;
    right: 32px;
    padding: 12px;
    border-style: none;
    background-color: rgba(240, 248, 255, 0);
    font-weight: 600;
    font-size: 20px;
}



h5 {
    font-size: 30px;
    text-transform: uppercase;
    text-align: center;
    padding-bottom: 24px;
}

h6 {
    font-size: 20px;
}

p.modal-de {
    font-size: 23px;
    padding-bottom: 15px;
}

article.modal-content button:hover {
    background-color: red;
}



/*********               MENU-MOBILE                 ********/

@media (max-width: 600px) {
    .logo {
        height: 60px;
    }

    .menus {
        flex: 100%;
        background: white;
        height: 0;
        overflow: hidden;
        z-index: 5;

    }

    .navbar {
        padding: 0;
    }

    .menus ul {
        flex-direction: column;
    }

    .menus ul li a {
        font-size: 20px;
        text-transform: uppercase;
        font-weight: 700;
        letter-spacing: 3px;

    }

    .menus ul li a:hover {
        background-color: black;
        color: #FFF;
    }

    .navContainer {
        justify-content: space-between;
    }

    .iconBar {
        display: flex;
        margin-right: 10px;

    }

    .menus-show {
        height: auto;
    }
}

/*********               RESPONSIVENES                 ********/

@media (min-width: 601px) {
    .bg {
        margin: 0px 6vh
    }

    footer {
        padding: 16px 7vh;
    }

    .navContainer li a {
        font-size: 20px;
        font-weight: 700;
        letter-spacing: 3px;
    }

    .mini-logo {
        max-height: 32px;
        padding-right: 4px;
        padding-left: 1px;
    }

    #anima {
        max-height: 32px;
    }

}

@media (min-width: 768px) {
    #grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-row-gap: 50px;
    }

    footer {
        padding: 16px 13vh;
    }

    .bg {
        margin: 0px 12vh
    }

    .mini-logo {
        max-height: 36px;
        padding-right: 8px;
        padding-left: 2px;
    }

    #anima {
        max-height: 36px;
    }

    article.modal-content {
        margin-right: 8em;
        margin-left: 8em;
        height: calc(100% - 300px);
    }

    article.modal-content button {
        top: 48px;
        right: 128px;
    }


}


@media (min-width: 1440px) {
    #grid {
        grid-template-columns: 1fr 1fr 1fr;
    }

    footer {
        padding: 16px 19vh;
    }

    .bg {
        margin: 0px 18vh
    }

    .mini-logo {
        max-height: 40px;
        padding-right: 23px;
        padding-left: 2px;
    }

    #anima {
        max-height: 40px;
    }

    article.modal-content {
        margin-right: 26em;
        margin-left: 26em;
        height: calc(100% - 300px);
    }

    article.modal-content button {
        top: 48px;
        right: 416px;
    }



}
